<!--
  Generated template for the StatisticsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Statistics</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <h6>My food waste percentage</h6>
    <ion-row>
      <ion-col col-12>
        <canvas #doughnutCanvas></canvas>
      </ion-col>
    </ion-row>

    <h6>The impact of my effort</h6>
    <ion-row>
      <ion-col col-6>
        <p>Food items eaten</p>
        <p>Food items wasted</p>
        <p>Estimated savings</p>
      </ion-col>
      <ion-col col-6 style="text-align: right">
        <p>{{eatenProducts}}</p>
        <p>{{wastedProducts}}</p>
        <p>€{{priceOfWastedProducts}}</p>
      </ion-col>
    </ion-row>

    <h6>The impact of my effort</h6>
    <ion-row class="footprint-status-examples">
      <ion-col col-12 style="text-align: center">
        <img class="footprint-status" src="{{footprintTree}}" alt="footprint status">
        <p class="footprint-status-percentage">{{footprintIpactStatus}}%</p>
        <p>of all your food</p>
        <p>items are eaten</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 style="text-align: center">
        <img src="https://svgshare.com/i/6m2.svg" alt="footprint status">
        <p>0-60%</p>
      </ion-col>
      <ion-col col-3 style="text-align: center">
        <img src="https://svgshare.com/i/6kr.svg" alt="footprint status">
        <p>> 60%</p>
      </ion-col>
      <ion-col col-3 style="text-align: center">
        <img src="https://svgshare.com/i/6m1.svg" alt="footprint status">
        <p>> 75%</p>
      </ion-col>
      <ion-col col-3 style="text-align: center">
        <img src="https://svgshare.com/i/6kE.svg" alt="footprint status">
        <p>> 90%</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
