<ion-header>
  <ion-navbar>
    <ion-title>
      Scan your products
    </ion-title>

    <ion-buttons end>
        <button ion-button icon-only (click)="toggleContinuousMode()">
          <ion-icon name="infinite" [color]="continuousMode ? 'dark' : 'light'"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding [ngStyle]="{ 'margin-top': scanner.contentHeight + 'px' }">
  <p text-center *ngIf="!barcodes || barcodes.length < 1">
    Scan a barcode!
  </p>
  
  <button full ion-button *ngIf="!continuousMode && barcodes && barcodes.length > 0" (click)="goTo()">Done</button>
</ion-content>
