<ion-header>

  <ion-navbar>
    <ion-title>{{product?.title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Title</ion-label>
    <ion-input [(ngModel)]="product.title" placeholder="{{product.title}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Content</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" max="2025" pickerFormat="DD/MM/YYYY" [(ngModel)]="product.content" placeholder="{{product.content}}"></ion-datetime>
  </ion-item>

  <button ion-button block clear (click)="updateProduct(product)">Save</button>
  <button ion-button block clear (click)="removeProduct(product)">Delete</button>
  
</ion-content>
