<!--
  Generated template for the ShoppingListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Shopping List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
      <ng-container *ngFor="let product of shoppingList | async">
        <ion-item class="item__container">
          <div col-2 class="item__image">
            <img src="{{product.image}}" alt="">
          </div>
          <div col-8 class="item__info">
            <ion-item>
              <p class="item__info__details">{{product.name}}</p>
            </ion-item>
          </div>
          <div col-2 class="item__checkbox">
            <ion-item>
              <ion-checkbox (click)="addToList(product)" color="danger"></ion-checkbox>
            </ion-item>
          </div>
        </ion-item>
      </ng-container>
    </ion-list>
    <button full ion-button (click)="removeCheckedProducts()">Remove selected items</button>
</ion-content>
